/* --------------------------------------------
sitewide ('master.html') styles
-------------------------------------------- */

/* 'Raleway' google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/*
color scheme:
red: #cf4444
blue: #447ecf
*/

:root {
    --primary_color: #cf4444;
    --secondary_color: #447ecf;
    --main_bg_color: #f2f2f2;
    --navbar_color: white;
}

body {
    background-color: var(--main_bg_color);
    font-family: "Raleway";
    margin: 0;
}

/* navigation bar container */
.navbar {
    display: flex;
    flex-wrap: wrap;
    place-content: space-between;
    background-color: var(--navbar_color);
    padding: 10px;
}

/* top left name container (left side of navbar) */
.name-logo {
    margin-left: 1em;
    width: 33%;
}

/* top left name link */
.name-logo a {
    font-size: 2em;
    color: var(--primary_color);
    text-decoration: none;
}

/* nav menu container (right side of navbar) */
.nav-menu {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    place-content: space-around;
}

/* nav-menu all item links */
.nav-menu a {
    font-size: 1.25em;
}

/* nav-menu current page item link */
.nav-menu .current a {
    color: var(--primary_color);
    text-decoration: underline;
}

/* nav-menu not current page item links */
.nav-menu .not-current a {
    color: var(--secondary_color);
    text-decoration: none;
}

/* nav-menu not current page item links hover and click */
.nav-menu .not-current a:active, .nav-menu .not-current a:hover {
    color: var(--primary_color);
    text-decoration: underline;
}

/* footer filler */
.filler {
    width: 1px;
}

/* footer container for linkedin and email */
.link-container {
    display: flex;
    place-content: space-between;
    padding-top: .4em;
}

/* link container divs (each of the link divs) */
.link-container > div {
    margin-right: 2em;
}

/* link actual text */
.link-container > div a {
    color: var(--secondary_color);
    text-decoration: none;
}


/* --------------------------------------------
homepage styles
-------------------------------------------- */

/* container for hero section */
.hero-container {
    display: flex;
    place-content: space-evenly;
    flex-wrap: wrap;
    height: 500px;
}

/* left side of hero */
.hero-container > .left-side {
    width: 500px;
    position: relative;
}

/* container for text in left side of hero */
.hi-im-spencer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5em;
    height: 200px;
}

/* right side of hero */
.hero-container > .right-side {
    width: 500px;
    height: 400px;
    position: relative;
}

/* image in right side of hero */
.headshot {
    width: 400px;
    height: 400px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/* body container, below hero */
.body-container {
    place-content: center;
    width: 100%;
    margin-bottom: 100px;
}

/* introdution paragraph container */
.intro-text {
    width: 50%;
    margin: auto;
    text-align: left;
}

/* footer container */
.footer-container {
    background-color: var(--navbar_color);
    display: flex;
    place-content: space-between;
    height: 2em;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
}

/* homepage trigger for going vertical with greeting and headshot */
@media only screen and (max-width: 1020px) {
    .headshot {
        width: 300px;
        height: 300px;
    }

    .hi-im-spencer {
        font-size: 1.25em;
        margin-top: 50px;
    }

    .hero-container > .left-side {
        height: 200px;
    }

    .hero-container {
        height: 600px;
    }
}

/* navbar trigger for listing pages vertically */
@media only screen and (max-width: 800px) {
    .nav-menu {
        flex-direction: column;
    }

    .nav-menu > div {
        margin-bottom: .5em;
        margin-right: 1em;
        text-align: right;
        width: 100%;
    }
}


/* --------------------------------------------
project display template styles
-------------------------------------------- */

/* intro text at the top of the page */
.page-intro-container {
    height: 200px;
    text-align: center;
    position: relative;
}

/* intro paragraph for projects page */
.page-intro {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    width: 50%;
}

/* resizing intro text when screen gets narrow */
@media only screen and (max-width: 800px) {
    .page-intro-container {
        height: 300px;
    }
}

/* container for holding each project */
.project-container {
    display: flex;
    flex-flow: row wrap;
    place-content: end center;
}

/* each project link box thing */
.individual-project {
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    border-color: black;
    height: 200px;
    width: 400px;
    margin: 10px;
    display: flex;
    flex-flow: row-wrap;
    place-content: space-evenly;
    background-image: url("placeholder-image.png");
    background-color: black;
    -webkit-filter: brightness(100%);
}

/* darkening bg image on hover for individual projects */
.individual-project:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

/* container for project titles */
.project-title-container {
    width: 150px;
    position: relative;
}

/* project titles (centering within project div) */
.project-title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    height: 30px;
    width: 200px;
}

/* title text link in projects */
.project-title > a {
    color: white;
    text-decoration: none;
}

/* underlining title text link on hover */
.project-title > a:hover {
    text-decoration: underline;
}

/* filler to prevent overlap at bottom of page */
.project-display-filler {
    height: 100px;
}


/* --------------------------------------------
project page styles
-------------------------------------------- */

/* bg image for project 1, gcode2fisnar */
.proj-1 {
    background-image: url("sliced_fisnar_pic_resized.png");
}

/* setting bg image for project 2 (stirbot) */
.proj-2 {
    background-image: url("stirbot_picture_resized.jpg");
}

/* setting bg image for project 3 (website) */
.proj-3 {
    background-image: url("website_pic_resized.png");
}

/* project 4 bg image */
.proj-4 {
}

/* project 5 bg image */
.proj-5 {
}

/* project 6 bg image */
.proj-6 {
}
