{% extends "master.html" %}

{% block page_title %}<title>Home</title>{% endblock %}

{% block home %}
<div class="current">
    <a href="/" target="_self">Home</a>
</div>
{% endblock %}

{% block body %}
<div class="hero-container">
    <div class="left-side">
        <div class="hi-im-spencer">
            <h1>Hi. I'm Spencer.</h1>
        </div>
    </div>

    <div class="right-side">
        <img class="headshot" src="../static/headshot.jpg" alt="Picture of Me">
    </div>
</div>

<div class="body-container">
    <div class="intro-text">
        <p>
            &emsp;I'm an undergraduate mechanical engineering student at the University of Minnesota in the Honors program.
            I like software development and robotics, and I have a particular interest in 3D printing.
            In my spare time I enjoy tutoring, reading sci-fi and scientific history books, and golfing.
        </p>
    </div>
</div>
{% endblock %}