<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Spencer Bertram Home Page</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <div class="navbar">
        <div class="name-logo">
            <a href="#">Spencer Bertram</a>
        </div>
        <div class="nav-menu">
            <div class="current">
                <a href="#">Home</a>
            </div>

            <div class="not-current">
                <a href="https://drive.google.com/file/d/1Yl4dlo1eTyJ4RcJEQkvl0X4VLEYppjhk/view?usp=sharing" target="_blank">Resume</a>
            </div>

            <div class="not-current">
                <a href="https://drive.google.com/file/d/1QAq1c6zDSMu-s8IsJ6hqCPYXgMg7KCmC/view?usp=sharing" target="_blank">Portfolio</a>
            </div>

            <div class="not-current">
                <a href="https://github.com/Spenbert02" target="_blank">Code</a>
            </div>

            <div class="not-current">
                <a href="#">Blog</a>
            </div>
        </div>
    </div>

    <div class="hero-container">
        <div class="left-side">
            <div class="hi-im-spencer">
                <h1>Hi. I'm Spencer.</h1>
            </div>
        </div>

        <div class="right-side">
            <img class="headshot" src="../static/headshot.jpg" alt="Picture of Me">
        </div>
    </div>

    <div class="body-container">
        <div class="intro-text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Integer sit amet interdum ante, sit amet egestas tellus.
                Integer eget diam non tortor tincidunt posuere.
                Vivamus ipsum felis, tincidunt eu consectetur a,
                elementum eget lacus. Curabitur vestibulum gravida augue ut varius.
            </p>
        </div>
    </div>

    <div class="footer-container">
        <div class="filler"></div>

        <div class="link-container">
            <div class="footer-link">
                <a href="https://www.linkedin.com/in/spencer-bertram/" target="_blank">LinkedIn</a>
            </div>

            <div class="footer-link">
                <a href="mailto: spenbert02@gmail.com">spenbert02@gmail.com</a>
            </div>
        </div>
    </div>
</body>
</html>